<div class="blogs">
  <h2 [title]="pageTitle">{{ pageTitle }}</h2>
  <div class="blog" [id]="blog.id" *ngFor="let blog of blogs" [ngStyle]="blogStyle" [ngClass]="{ 'blog--published': blog.isPublished, 'blog--draft': !blog.isPublished }">
    <h3>{{ blog.title }}</h3>
    <p>{{ blog.body }}</p>
    <small *ngIf="blog.isPublished; else elseBlock">Published</small>
    <ng-template #elseBlock><small>Draft</small></ng-template>
  </div>
</div>
<app-single-blog>
  <h1>Hello world</h1>
  <ng-container header>
    <div
      class="blog"
      [id]="blog.id"
      *ngFor="let blog of blogs"
      [ngStyle]="blogStyle"
      [ngClass]="{ 'blog--published': blog.isPublished, 'blog--draft': !blog.isPublished }"
    >
      <h3>{{ blog.title }}</h3>
      <p>{{ blog.body }}</p>
      <small *ngIf="blog.isPublished; else elseBlock">Published</small>
      <ng-template #elseBlock><small>Draft</small></ng-template>
    </div>
  </ng-container>
</app-single-blog>
