<!-- shows ng-content for content projection -->
<!-- <p>single-blog works!</p>
<ng-content></ng-content>
<hr>
<ng-content select="[header]"></ng-content> -->
<ng-container *ngIf="blogItem">
  <div
    class="blog"
    [id]="blogItem.id"
    [ngStyle]="blogStyle"
    [ngClass]="{ 'blog--published': blogItem.isPublished, 'blog--draft': !blogItem.isPublished }"
  >
    <h3 (click)="navigateToDetail()">{{ blogItem.title | titlecase }}</h3>
    <p>{{ blogItem.body }}</p>
    <small *ngIf="blogItem.isPublished; else elseBlock">Published</small>
    <ng-template #elseBlock><small>Draft</small></ng-template>
    <small>{{ today | date:'short' }}</small>
    <div class="blog-action">
      <button (click)="handleBlogDelete($event)">Delete</button>
      <a [routerLink]="['/blogs', blogItem.id]">Detail</a>
    </div>
  </div>
</ng-container>
